@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.comments {
  .input {
    display: flex;
    input {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding-bottom: 5px;
      color: #aaa;
      font-size: 14px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .comments-place {
    margin-top: 48px;
    .comment {
      display: flex;
      gap: 16px;
      .logo {
        width: 40px;
        background-color: #797979;
        border-radius: 50%;
        height: 40px;
      }
      .comment-use {
        .text {
          margin-top: 5px;
          color: #f1f1f1;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
        .buttons {
          margin-top: 8px;
          display: flex;
          gap: 11px;
          button {
            border: none;
            background: none;
            color: #f1f1f1;
          }
          .like {
            display: flex;
            gap: 4px;
            align-items: center;
            .image {
              width: 24px;
              height: 24px;
              background-image: url(./assets/like.svg);
            }
            color: #aaa;
            font-size: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
          .diz {
            .image {
              width: 24px;
              height: 24px;
              background-image: url(./assets/diz.svg);
            }
          }
          .answer {
            color: #f1f1f1;
            font-size: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
          }
        }
        .title {
          display: flex;
          gap: 20px;
          .name {
            color: #f1f1f1;
            font-size: 13px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
          }
          .ago {
            color: #aaa;
            font-size: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
    }
  }
}
